doctype html
html
    head
        title chart created with amCharts | amCharts
        meta(name="description" content="chart created using amCharts live editor")
        // amCharts javascript sources
        script(type="text/javascript" src="https://www.amcharts.com/lib/3/amcharts.js")
        script(type="text/javascript" src="https://www.amcharts.com/lib/3/serial.js")
        script(type="text/javascript" src="https://www.amcharts.com/lib/3/themes/dark.js")
        // amCharts javascript code
        script(type="text/javascript").
            AmCharts.makeChart("chartdiv",
            {
            "type": "serial",
            "categoryField": "category",
            "mouseWheelZoomEnabled": true,
            "angle": 30,
            "depth3D": 30,
            "startDuration": 1,
            "startEffect": "bounce",
            "fontSize": 17,
            "percentPrecision": 1,
            "theme": "dark",
            "categoryAxis": {
            "gridPosition": "start",
            "position": "top",
            "title": "",
            "titleFontSize": 35,
            "titleRotation": 13
            },
            "trendLines": [],
            "graphs": [
            {
            "balloonText": "[[category]][[title]]:\n[[value]]/[[together]]",
            "fillAlphas": 1,
            "gapPeriod": 3,
            "id": "AmGraph-1",
            "labelText": "黑人",
            "markerType": "square",
            "maxBulletSize": 54,
            "showAllValueLabels": true,
            "tabIndex": 3,
            "title": "黑人",
            "type": "column",
            "valueAxis": "ValueAxis-1",
            "valueField": "黑人",
            "xAxis": "ValueAxis-1",
            "xField": "黑人"
            },
            {
            "balloonText": "[[category]][[title]]:\n[[value]]/[[together]]",
            "fillAlphas": 1,
            "id": "AmGraph-2",
            "labelText": "其他",
            "markerType": "square",
            "title": "其他",
            "type": "column",
            "valueField": "其他"
            }
            ],
            "guides": [],
            "valueAxes": [
            {
            "gridType": "circles",
            "id": "ValueAxis-1",
            "minMaxMultiplier": 0,
            "stackType": "100%",
            "title": "人口（%）",
            "titleFontSize": 20
            }
            ],
            "allLabels": [],
            "balloon": {},
            "legend": {
            "enabled": true,
            "useGraphSettings": true
            },
            "titles": [],
            "dataProvider": [
            {
            "category": "美國人口",
            "together": "325,000,000",
            "黑人": "44000000",
            "其他": "281000000"
            },
            {
            "category": "正在服刑的人",
            "together": "22,000,000",
            "黑人": "880000",
            "其他": "1320000"
            },
            {
            "category": "因為毒品服刑的人",
            "together": "95,000",
            "黑人": "37000",
            "其他": "58000"
            }
            ]
            }
            );
    body
        #chartdiv(style="position:absolute;  margin-top: 100px; top:50%; width: 100%; height: 400px; background-color: #282828; ")
        body(style="position: relative; background-color: #282828;font-size: 45px;")
