doctype html
html(lang='en')
  include ../mixins/_google_analytics.pug
  head
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-98460649-2")
    script.    
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-98460649-2');
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Portfolio')
    meta(name='author', content='Ayo Amadi')
    link(rel='shortcut icon', href='/images/ico/ayo-favicon.ico')
    //- +ga
    title Ayo Amadi
    // Web Fonts
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700', rel='stylesheet', type='text/css')
    // Bootstrap core CSS
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet', media='screen')
    // Font Awesome CSS
    link(href='/css/font-awesome.min.css', rel='stylesheet', media='screen')
    // Animate css
    link(href='/css/animate.css', rel='stylesheet')
    // Magnific css
    link(href='/css/magnific-popup.css', rel='stylesheet')
    // Custom styles CSS
    link(href='/css/style.css', rel='stylesheet', media='screen')
    // Responsive CSS
    link(href='/css/responsive.css', rel='stylesheet')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    //- link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/images/ico/apple-touch-icon-144-precomposed.png')
    //- link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/images/ico/apple-touch-icon-114-precomposed.png')
    //- link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/images/ico/apple-touch-icon-72-precomposed.png')
    //- link(rel='apple-touch-icon-precomposed', href='/images/ico/apple-touch-icon-57-precomposed.png')
  body
    // Preloader
    #tt-preloader
      #pre-status
        .preload-placeholder
    // Home Section
    section#home.tt-fullHeight(data-stellar-vertical-offset='50', data-stellar-background-ratio='0.2')
      .intro
        .intro-sub Ayo Amadi
        h1
          | Software 
          span Developer
        p
          | I am a forever curious Full-Stack Developer. 
          //- br
          //- |  I love learning
          br
          |  Contact me and let's build together.
        .social-icons
          ul.list-inline
            li
              a(href='https://www.linkedin.com/in/ayo-amadi/', target="_blank", rel="noreferrer")
                i.fa.fa-linkedin
            li
              a(href='https://github.com/ayoa77', target="_blank", rel="noreferrer")
                i.fa.fa-github
            li
              a(href='https://stackoverflow.com/users/7806714/ayodele-amadi', target="_blank", rel="noreferrer")
                i.fa.fa-stack-overflow
            li
              a(href='https://www.facebook.com/ayodele.amadi', target="_blank", rel="noreferrer")
                i.fa.fa-facebook
            li
              a(href='https://twitter.com/ayoamadi?lang=en', target="_blank", rel="noreferrer")
                i.fa.fa-twitter
            //- li
            //-   a(href='#')
            //-     i.fa.fa-pinterest
        // /.social-icons
      section#section05.demo
        a(href='#about')
          span
          | Scroll
    // End Home Section
    // Navigation
    header.header
      nav.navbar.navbar-custom(role='navigation')
        .container
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#custom-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/')
              img(src='/images/logo.png', alt='')
          #custom-collapse.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              li
                a(href='#home', data-toggle='collapse', data-target='#custom-collapse') Home
              li
                a(href='#about', data-toggle='collapse', data-target='#custom-collapse') About
              li
                a(href='#resume', data-toggle='collapse', data-target='#custom-collapse') Resume
              li
                a(href='#skills', data-toggle='collapse', data-target='#custom-collapse') Skills
              li
                a(href='#works', data-toggle='collapse', data-target='#custom-collapse') Works
              //- li
              //-   a(href='#blog') Blog
              li
                a(href='#contact', data-toggle='collapse', data-target='#custom-collapse') Contact
        // .container
    // End Navigation
    // About Section
    section#about.about-section.section-padding
      .container
        h2.section-title.wow.fadeInUp About Me
        .row
          .col-md-4.col-md-push-8
            .biography
              .myphoto
                img(src='/images/myphoto.jpg', alt='')
              ul
                li
                  strong Name:
                  p.pull-right  Ayo Amadi || 馬艾哲
                //- li
                //-   strong Date of birth:
                  //-  p.pull-right |  09 Sep 1989
                //- li
                //-   strong Address:
                  //-  p.pull-right |  239/2 Awesome Street, USA
                li
                  strong Nationality:
                  p.pull-right  American
                li
                  strong Phone: 
                  a.pull-right(href='tel:+13476878841', data-rel='external') +1 347 687 8841
                li
                  strong Email: 
                  a.pull-right(href='mailto:ayodeleamadi@gmail.com', data-rel='external') ayodeleamadi@gmail.com
          // col-md-4
          .col-md-8.col-md-pull-4
            .short-info.wow.fadeInUp
              h3 Objective
              p
                | I am a creator, and programming is my outlet. I love that these creations can solve real-life problems while being fun and intuitive tools to interact with. I am currently searching for more opportunities to create more tools. 
            .short-info.wow.fadeInUp
              h3 What I Do
              p
                | I am passionate about new tech and expanding my knowledge in my current set of tools excites me. I originally started with Ruby and Ruby on Rails, but recently I have been more focused on JavaScript and NodeJS. I am currently beefing my skills with React. I love my work. 
              ul.list-check
                li Backend Engineering
                li Database Design
                li API Development
                li Custom CMS
                li Frontend Dev
                li Quick Learner
            //- .my-signature
            //-   img(src='/images/sign.png', alt='')
            .download-button
              a.btn.btn-info.btn-lg(href='#contact')
                i.fa.fa-paper-plane
                | Send me a message
                //-need to set up uploads and download for my cv here...make  available :)
              a.btn.btn-primary.btn-lg(href='/download')
                i.fa.fa-download
                | Download my CV
        // /.row
      // /.container
    // End About Section
    // Video Section
    //- section#video.video-section
    //-   .tf-bg-overlay
    //-     .container
    //-       .control
    //-         .video-intro.text-center
    //-           button.play-trigger(type='button', data-toggle='modal', data-target='#tour-video')
    //-             i.fa.fa-play
    //-           h2 Video Introducing
    //-         // Video Modal
    //-         #tour-video.modal.modal-video
    //-           .modal-dialog.modal-lg
    //-             .modal-content
    //-               .modal-header
    //-                 button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
    //-                 h4.modal-title Video Tour
    //-               .modal-body
    //-                 .video-container
    //-                   iframe#nofocusvideo(src='https://player.vimeo.com/video/118119037', name='vimeoplayer', width='500', height='281')
                    // /.video-container
                  // /.modal-body
                // /.modal-content
              // /.modal-dialog
            // /.modal
          // /.control
        // /.container
      // /.overlay
    // /.Video Section
    // Resume Section
    section#resume.resume-section.section-padding
      .container
        h2.section-title.wow.fadeInUp Resume
        .row
          .col-md-12
            .resume-title
              h3 Experience
            .resume
              ul.timeline
                li
                  .posted-date
                    span.month June 2017 - Present
                  // /posted-date
                  .timeline-panel.wow.fadeInUp
                    .timeline-content
                      .timeline-heading
                        h3 Software Developer
                        span Frankish International, Taipei, Taiwan
                      // /timeline-heading
                      .timeline-body
                        p
                          | I learn by doing and this is where I have learned the most. From working on legacy PHP or Ruby apps to event-sourcing with NodeJS and NoSql. This has been the best learning experience ever. Most of the projects that I've included in the work section were completed while working here. 
                      // /timeline-body
                    // /timeline-content
                  // /timeline-panel
                li.timeline-inverted
                  .posted-date
                    span.month September 2015 - December 2016
                  // /posted-date
                  .timeline-panel.wow.fadeInUp
                    .timeline-content
                      .timeline-heading
                        h3 Educator
                        span RMIT University, Ho Chi Minh City, Vietnam
                      // /timeline-heading
                      .timeline-body
                        p
                          | Learning and teaching at possibly the most prestigous University in Vietnam was a priviledge. 
                      // /timeline-body
                    // /timeline-content
                  // /timeline-panel
                li
                  .posted-date
                    span.month April 2014 - March 2016
                  // /posted-date
                  .timeline-panel.wow.fadeInUp
                    .timeline-content
                      .timeline-heading
                        h3 ESL Teacher
                        span VUS, Ho Chi Minh City, Vietnam
                      // /timeline-heading
                      .timeline-body
                        p
                          | Working at the largest English Center in Vietnam was a fun experience. This opportunity greatly improved my communication skills.
                  // /posted-date
        // /row
        .row
          .col-md-12
            .resume-title
              h3 Education
            .resume
              ul.timeline 
                li.timeline-inverted
                  .posted-date
                    span.month 2017
                  // /posted-date
                  .timeline-panel.wow.fadeInUp
                    .timeline-content
                      .timeline-heading
                        h3 Software Development Certificate
                        span Next Academy Software Development Bootcamp, Kuala Lumpur, Malaysia 
                      // /timeline-heading
                      .timeline-body
                        p
                          | After a few years of writing a little bit of HTML and CSS while dabbling in Ruby, I was finally able to fully realize my dream of becoming a software developer.
                      // /timeline-body
                    // /timeline-content
                  // /timeline-panel
                li
                  .posted-date
                    span.month 2014
                  // /posted-date
                  .timeline-panel.wow.fadeInUp
                    .timeline-content
                      .timeline-heading
                        h3 TESOL Certificate
                        span Language Corps, Ho Chi Minh City, Vietnam
                      // /timeline-heading
                      .timeline-body
                        p
                          | In addition to developing software, I am a foodie and I love travelling. So, when I saw my total debt after completing university, I decided teaching English in Vietnam would be a good way to explore these interests.
                      // /timeline-body
                    // /timeline-content
                  // /timeline-panel
              ul.timeline
                li.timeline-inverted
                  .posted-date
                    span.month 2013
                  // /posted-date
                  .timeline-panel.wow.fadeInUp
                    .timeline-content
                      .timeline-heading
                        h3 Bachelor's Degree 
                        span BA in French, Minor in Business, University of Kansas, Kansas, USA
                      // /timeline-heading
                      .timeline-body
                        p
                          | I worked part-time jobs to help fund my education and finish my studies in language. Toward the end of my studies, I took a Web Development Course and my interest in this field began.
                      // /timeline-body
                    // /timeline-content
                  // /timeline-panel        // /row
      // /.container
    // End Resume Section
    // Skills Section
    section#skills.skills-section.section-padding
      .container
        h2.section-title.wow.fadeInUp Skills
        .row
          .col-md-6
            .skill-progress
              .skill-title
                h3 NodeJS
              .progress
                .progress-bar.six-sec-ease-in-out(role='progressbar', aria-valuenow='90', aria-valuemin='0', aria-valuemax='100')
                  span 90%
              // /.progress
            // /.skill-progress
            .skill-progress
              .skill-title
                h3 Ruby
              .progress
                .progress-bar.six-sec-ease-in-out(role='progressbar', aria-valuenow='85', aria-valuemin='0', aria-valuemax='100')
                  span 85%
              // /.progress
            // /.skill-progress
            .skill-progress
              .skill-title
                h3 NoSql
              .progress
                .progress-bar.six-sec-ease-in-out(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100')
                  span 80%
              // /.progress
            // /.skill-progress
          // /.col-md-6
          .col-md-6
            .skill-progress
              .skill-title
                h3 SQL
              .progress
                .progress-bar.six-sec-ease-in-out(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                  span 75%
              // /.progress
            // /.skill-progress
            .skill-progress
              .skill-title
                h3 HTML/CSS
              .progress
                .progress-bar.six-sec-ease-in-out(role='progressbar', aria-valuenow='85', aria-valuemin='0', aria-valuemax='100')
                  span 85%
              // /.progress
            // /.skill-progress
            .skill-progress
              .skill-title
                h3 JavaScript
              .progress
                .progress-bar.six-sec-ease-in-out(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100')
                  span 80%
              // /.progress
            // /.skill-progress
          // /.col-md-6
        // /.row
        .skill-chart.text-center
          h3 More skills
        .row.more-skill.text-center
          .col-xs-6.col-sm-4.col-md-2
            .chart(data-percent='70', data-color='8C5F66')
              span.percent
              .chart-text
                span 中文
          .col-xs-6.col-sm-4.col-md-2
            .chart(data-percent='90', data-color='8C5F66')
              span.percent
              .chart-text
                span Problem Solving
          .col-xs-6.col-sm-4.col-md-2
            .chart(data-percent='95', data-color='8C5F66')
              span.percent
              .chart-text
                span Learning
          .col-xs-6.col-sm-4.col-md-2
            .chart(data-percent='85', data-color='8C5F66')
              span.percent
              .chart-text
                span Planning
          .col-xs-6.col-sm-4.col-md-2
            .chart(data-percent='85', data-color='8C5F66')
              span.percent
              .chart-text
                span Communitcation
          .col-xs-6.col-sm-4.col-md-2
            .chart(data-percent='99', data-color='8C5F66')
              span.percent
              .chart-text
                span Motivation
      // /.container
    // End Skills Section
    // Works Section
    section#works.works-section.section-padding
      .container
        h2.section-title.wow.fadeInUp Works
        ul#filter.list-inline
          li
            a.no-hover.active(data-group='all') All
          li
            a.no-hover(data-group='ruby') Ruby
          li
            a.no-hover(data-group='nodeJS') NodeJS
          li
            a.no-hover(data-group='fullstack') Full-Stack
          li
            a.no-hover(data-group='backend') Backend
        .row
          #grid
            .portfolio-item.col-xs-12.col-sm-4.col-md-3(data-groups='["all", "fullstack", "backend", "nodeJS"]')
              .portfolio-bg
                .portfolio
                  .tt-overlay
                  .links.two
                    //- a.demo.link-selector.image-link(href='/images/works/luggage-relay-gif.gif')
                    a.mfp-iframe.demo.link-selector.image-link(href='/videos/luggageRelayFull.mp4')
                      p.demo DEMO
                    a.link.link-selector(href='https://luggagerelay.com/en?location=tw', target="_blank", rel="noreferrer")
                      p.linkage LINK
                  // /.links
                  img(src='/images/works/luggage-relay.png', alt='image')
                  .portfolio-info
                    h3 Luggage Relay
                  // /.portfolio-info
                // /.portfolio
              // /.portfolio-bg
            // /.portfolio-item
            .portfolio-item.col-xs-12.col-sm-4.col-md-3(data-groups='["all", "backend", "nodeJS"]')
              .portfolio-bg
                .portfolio
                  .tt-overlay
                  .links.two
                    //- a.demo.link-selector.image-link(href='/images/works/petbondFull.gif')
                    a.mfp-iframe.demo.link-selector.image-link(href='/videos/petbond.mp4')
                      p.demo DEMO
                    a.link.link-selector(href='https://petbond.com.tw', target="_blank", rel="noreferrer")
                      p.linkage LINK
                  // /.links
                  img(src='/images/works/petbond-portfolio.png', alt='image')
                  .portfolio-info
                    h3 Petbond
            .portfolio-item.col-xs-12.col-sm-4.col-md-3(data-groups='["all", "backend", "nodeJS"]')
              .portfolio-bg
                .portfolio
                  .tt-overlay
                  .links.one
                    //- a.link-selector.image-link(href='/images/works/ebs-portfolio-big.png')
                    //-   p.demo DEMO
                    a.link.center.link-selector(href='http://172.105.224.222:3000/', target="_blank", rel="noreferrer")
                      p.linkage LINK
                  // /.links
                  img(src='/images/works/ebs-portfolio.png', alt='image')
                  .portfolio-info
                    h3 EBS
                  // /.portfolio-info
                // /.portfolio
              // /.portfolio-bg
            // /.portfolio-item
            .portfolio-item.col-xs-12.col-sm-4.col-md-3(data-groups='["all", "fullstack", "nodeJS", "backend"]')
              .portfolio-bg
                .portfolio
                  .tt-overlay
                  .links.one
                    //- a.center.demo.link-selector.image-link(href='/images/works/jarvis-gif.gif')
                    a.center.mfp-iframe.demo.link-selector.image-link(href='/videos/jarvis.mp4')
                      p.demo DEMO
                    //- a.link-selector(href='http://jarvis.flexstudio.io/', target="_blank", rel="noreferrer")
                    //-   i.fa.fa-link
                  // /.links
                  img(src='/images/works/jarvis.png', alt='image')
                  .portfolio-info
                    h3 Jarvis.Ai
                  // /.portfolio-info
                // /.portfolio
              // /.portfolio-bg
            // /.portfolio-item
            .portfolio-item.col-xs-12.col-sm-4.col-md-3(data-groups='["all", "fullstack", "backend", "nodeJS"]')
              .portfolio-bg
                .portfolio
                  .tt-overlay
                  .links.one
                    //- a.demo.center.link-selector.image-link(href='/images/works/flashcards-gif.gif')
                    a.mfp-iframe.demo.link-selector.image-link(href='/videos/flashcards.mp4')
                      p.demo DEMO
                    //- a(href='/flashcards', target="_blank", rel="noreferrer").link-selector 
                      p.linkage LINK
                  // /.links
                  img(src='/images/works/flashcards-thumb.png', alt='image')
                  .portfolio-info
                    h3 中文 flashcards
                  // /.portfolio-info
                // /.portfolio
              // /.portfolio-bg
            // /.portfolio-item
            .portfolio-item.col-xs-12.col-sm-4.col-md-3(data-groups='["all", "backend", "ruby", "fullstack"]')
              .portfolio-bg
                .portfolio
                  .tt-overlay
                  .links.two
                    //- a.demo.link-selector.image-link(href='/images/works/CanopyFull.gif')
                    a.mfp-iframe.demo.link-selector.image-link(href='/videos/canopy.mp4')
                      p.demo DEMO
                    a.link.link-selector(href='http://canopy.flexstudio.io', target="_blank", rel="noreferrer")
                      p.linkage LINK
                  // /.links
                  img(src='/images/works/canopy.png', alt='image')
                  .portfolio-info
                    h3 Canopy
                  // /.portfolio-info
                // /.portfolio
              // /.portfolio-bg
            // /.portfolio-item
            .portfolio-item.col-xs-12.col-sm-4.col-md-3(data-groups='["all", "backend","fullstack", "ruby"]')
              .portfolio-bg
                .portfolio
                  .tt-overlay
                  .links.one
                    a.image.center.link-selector.image-link(href='/images/works/mypal-big.png')
                      p.imagery IMAGE
                    //- a.link-selector(href='http://mypal.frankish.international', target="_blank", rel="noreferrer")
                    //-   i.fa.fa-link
                  // /.links
                  img(src='/images/works/mypal.png', alt='image')
                  .portfolio-info
                    h3 MyPal
                  // /.portfolio-info
                // /.portfolio
              // /.portfolio-bg
            // /.portfolio-item
            .portfolio-item.col-xs-12.col-sm-4.col-md-3(data-groups='["all", "backend", "fullstack", "ruby"]')
              .portfolio-bg
                .portfolio
                  .tt-overlay
                  .links.one
                    a.image.center.link-selector.image-link(href='/images/works/BoC-big.png')
                      p.imagery IMAGE
                    // /.link-selector/- a(href='#', target="_blank", rel="noreferrer")
                    //-   i.fa.fa-link
                  // /.links
                  img(src='/images/works/BoC.png', alt='image')
                  .portfolio-info
                    h3 Box Of Chocolates
                  // /.portfolio-info
                // /.portfolio
              // /.portfolio-bg
            // /.portfolio-item
            //- .portfolio-item.col-xs-12.col-sm-4.col-md-3(data-groups='["all", "backend", "fullstack", "ruby"]')
              .portfolio-bg
                .portfolio
                  .tt-overlay
                  .links
                    a.link-selector.image-link(href='/images/works/portfolio-7.jpg')
                      p.demo DEMO
                    a.link-selector(href='#')
                      p.linkage LINK
                  // /.links
                  img(src='/images/works/portfolio-7.jpg', alt='image')
                  .portfolio-info
                    h3 Portfolio Title
                  // /.portfolio-info
                // /.portfolio
              // /.portfolio-bg
            // /.portfolio-item
            //- .portfolio-item.col-xs-12.col-sm-4.col-md-3(data-groups='["all", "ruby"]')
              .portfolio-bg
                .portfolio
                  .tt-overlay
                  .links
                    a.link-selector.image-link(href='/images/works/portfolio-8.jpg')
                      p.demo DEMO
                    a.link-selector(href='#')
                      p.linkage LINK
                  // /.links
                  img(src='/images/works/portfolio-8.jpg', alt='image')
                  .portfolio-info
                    h3 Portfolio Title
                  // /.portfolio-info
                // /.portfolio
              // /.portfolio-bg
            // /.portfolio-item
          // /#grid
        // /.row
      // /.container
    // End Works Section
    // Facts Section
    //- section#facts.facts-section.text-center(data-stellar-vertical-offset='50', data-stellar-background-ratio='0.2')
    //-   .tt-overlay-bg
    //-     .container
    //-       .row
    //-         .col-md-12
    //-           .count-wrap
    //-             .col-sm-3.col-xs-6
    //-               i.fa.fa-flask
    //-               h3.timer 7
    //-               p Years of Experience
    //-             .col-sm-3.col-xs-6
    //-               i.fa.fa-thumbs-up
    //-               h3.timer 651
    //-               p Projects Done
    //-             .col-sm-3.col-xs-6
    //-               i.fa.fa-users
    //-               h3.timer 251
    //-               p Happy Clients
    //-             .col-sm-3.col-xs-6
    //-               i.fa.fa-trophy
    //-               h3.timer 5
    //-               p Awards Won
              // /count-wrap
            // /.col-md-12
          // /.row
        // /.container
    // End Facts Section
    // Blog Section
    //- section#blog.latest-blog-section.section-padding
      .container
        h2.section-title.wow.fadeInUp Latest Post
        .row
          .col-sm-4
            article.blog-post-wrapper
              .figure
                .post-thumbnail
                  a(href='#')
                    img.img-responsive(src='/images/blog/01.jpg', alt='')
                i.fa.fa-file-photo-o
              // /.figure
              header.entry-header
                .post-meta
                  span.the-category
                    a(href='#') Print Design,
                    a(href='#') Photoshop
                h2.entry-title
                  a(href='blog-single.html', rel='') Common fonts used for newspaper template design
                hr
                .entry-meta
                  ul.list-inline
                    li
                      span.the-author
                        a(href='#') Admin
                    li
                      span.the-time
                        a(href='#') 06 Jan 2015
                    li
                      span.the-share
                        a(href='#', title='share') 30
                    li
                      span.the-comments
                        a(href='#', title='') 05
                // .entry-meta
              // .entry-header
          // /.col-sm-4
          .col-sm-4
            article.blog-post-wrapper
              .figure
                .post-thumbnail
                  a(href='#')
                    img.img-responsive(src='/images/blog/02.jpg', alt='')
                i.fa.fa-file-video-o
              // /.figure
              header.entry-header
                .post-meta
                  span.the-category
                    a(href='#') Print Design,
                    a(href='#') Photoshop
                h2.entry-title
                  a(href='blog-single.html', rel='') What is the style of font called that is typically
                hr
                .entry-meta
                  ul.list-inline
                    li
                      span.the-author
                        a(href='#') Admin
                    li
                      span.the-time
                        a(href='#') 06 Jan 2015
                    li
                      span.the-share
                        a(href='#', title='share') 30
                    li
                      span.the-comments
                        a(href='#', title='') 05
                // .entry-meta
              // .entry-header
          // /.col-sm-4
          .col-sm-4
            article.blog-post-wrapper
              .figure
                .post-thumbnail
                  a(href='#')
                    img.img-responsive(src='/images/blog/03.jpg', alt='')
                i.fa.fa-quote-left
              // /.figure
              header.entry-header
                .post-meta
                  span.the-category
                    a(href='#') Print Design,
                    a(href='#') Photoshop
                h2.entry-title
                  a(href='blog-single.html', rel='') How to create a print ready brochure using photoshop
                hr
                .entry-meta
                  ul.list-inline
                    li
                      span.the-author
                        a(href='#') Admin
                    li
                      span.the-time
                        a(href='#') 06 Jan 2015
                    li
                      span.the-share
                        a(href='#', title='share') 30
                    li
                      span.the-comments
                        a(href='#', title='') 05
                // .entry-meta
              // .entry-header
          // /.col-md-4
        // /.row
        .blog-more.text-center
          a.link-selector.btn.btn-primary(href='#') View More
      // /.container
    // End .link-selectorBlog Section
    // Hire Section
    section.hire-section.text-center(data-stellar-vertical-offset='50', data-stellar-background-ratio='0.2')
      .hire-section-bg
        .container
          .row
            .col-md-12
              h2 I'm available for freelance projects and more
              a.btn.btn-default(href='#contact') Hire Me
            // /.col-md-12
          // /.row
        // /.container
      // /.hire-section-bg
    // End Hire Section
    // Contact Section
    section#contact.contact-section.section-padding
      .container
        h2.section-title.wow.fadeInUp Get in touch
        .row
          .col-md-6
            .contact-form
              strong Send me a message
              form(id='contactForm', name='contact-form',onsubmit='formSubmit(event)', method='post', action='/email')
                input(type="hidden", name="_csrf", value=csrfToken)
                .form-group
                  label(for='InputName1') Name
                  input#InputName1.contactInputs.form-control(type='text', name='name', required='required')
                .form-group
                  label(for='InputEmail1') Email
                  input#InputEmail1.contactInputs.form-control(type='email', name='email', required='required')
                .form-group
                  label(for='InputSubject') Subject
                  input#InputSubject.contactInputs.form-control(type='text', name='subject')
                .form-group
                  label(for='InputTextarea') Message
                  textarea#InputTextarea.contactInputs.form-control(name='message', rows='5', required='')
                button.btn.btn-primary(type='submit', name='submit') Send Message
          // /.col-md-6
          .col-md-6
            .row.center-xs
              .col-sm-6
                i.fa.fa-map-marker
                address
                  strong Location
                  //- |                   Near National Taiwan University
                  //- br
                  |                   Parsons, KS
                  br
              .col-sm-6
                i.fa.fa-mobile
                .contact-number
                  strong Phone Number
                  a(href='tel:+13476878841', data-rel='external') +1 347 687 8841
                  br
                  a(href='tel:+886975878441', data-rel='external') +886 975 878 441
            .row
              .col-sm-12
                .location-map
                  iframe(width="100%" height="325" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDLNZvOMOpoSHBthHfnHeXk4b5IEqW-vOs&q='Parsons, KS&zoom=16")         // /
            .row
      // /.container
    // End Contact Section
    // Footer Section
    footer.footer-wrapper
      .container
        .row
          .col-md-12
            .copyright.text-center
              p © Ayo Amadi #{moment().year()}. All rights reserved.
    // End Footer Section
    // Scroll-up
    .scroll-up
      a(href='#about')
        i.fa.fa-angle-up
    // Javascript files
    script(src='/js/jquery.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/js/jquery.stellar.min.js')
    script(src='/js/jquery.sticky.js')
    //- script(src='/js/smoothscroll.js')
    script(src='/js/wow.min.js')
    script(src='/js/jquery.countTo.js')
    script(src='/js/jquery.inview.min.js')
    script(src='/js/jquery.easypiechart.js')
    script(src='/js/jquery.shuffle.min.js')
    script(src='/js/jquery.magnific-popup.min.js')
    //- script(src='https://a.vimeocdn.com/js/froogaloop2.min.js')
    script(src='/js/jquery.fitvids.js')
    script(src='/js/scripts.js')
  script.
    var formSubmit = function(event){
      event.preventDefault();
      var input = $( '#contactForm' ).serialize();
      $.post($('#contactForm').attr('action'), input )
        .done(function(data){
          if(data.success){
            alert(data.message)
            $('.contactInputs').val('')
          }
          //- if (data.redirect) window.location.replace(data.redirect)
          })
          .fail(function(data){
          if(data){alert('Something went wrong. Please refresh and try again.')
          console.log(data, 'failure')
          }
      })
    }
